/node_modules
admin.js
chunkpickerrs3-export(1).json
chunkpickerrs3-firebase-adminsdk-k3gn6-f6003a024a.json
package-lock.json
package.json
save_file.json
/functions
.firebaserc
firebase.json
run local.bat
